@font-face {
    font-family: 'icon';
    src: url(/static/icons.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.icon {
    font-family: 'icon';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 0;
}

@mixin icon-play {
    &::before {
        content: "\ea1c";
    }
}
@mixin icon-pause {
    &::before {
        content: "\ea1d";
    }
}
@mixin icon-volume-high {
    &::before {
        content: "\ea26";
    }
}
@mixin icon-volume-medium {
    &::before {
        content: "\ea27";
    }
}
@mixin icon-volume-low {
    &::before {
        content: "\ea28";
    }
}
@mixin icon-volume-mute {
    &::before {
        content: "\ea29";
    }
}
@mixin icon-success {
    &::before {
        content: "\f058";
    }
}
@mixin icon-error {
    &::before {
        content: "\f057";
    }
}
@mixin icon-close {
    &::before {
        content: "\f00d";
    }
}
@mixin icon-chevron-down {
    &::before {
        content: "\f078";
    }
}
@mixin icon-caret-down {
    &::before {
        content: "\f0d7";
    }
}
@mixin icon-qrcode {
    &::before {
        content: "\e938";
    }
}
@mixin icon-enlarge {
    &::before {
        content: "\e989";
    }
}
@mixin icon-shrink {
    &::before {
        content: "\e98a";
    }
}
@mixin icon-plus {
    &::before {
        content: "\f067";
    }
}
@mixin icon-minus {
    &::before {
        content: "\f068";
    }
}
@mixin icon-font-size {
    &::before {
        content: "\ea61";
    }
}
@mixin icon-share {
    &::before {
        content: "\ea82";
    }
}