{% load localize %}
<li class="nav__item">
    {% if link %}
        <a href="{{ link }}{{ url_suffix }}" class="nav__item__inner">
            <span class="nav__item__text">{% localize title %}</span>
            {% if children %}
                <span class="icon nav__arrow nav__expand"></span>
            {% endif %}
        </a>
    {% else %}
        <span class="nav__item__inner{% if children %} nav__expand{% endif %}">
            <span class="nav__item__text">{% localize title %}</span>
            {% if children %}
                <span class="icon nav__arrow"></span>
            {% endif %}
        </span>
    {% endif %}
    {% if children %}
        <ul class="nav__sublist">
            {% for child in children %}
                {% include './child_menu_item.html' with item=child %}
            {% endfor %}
        </ul>
    {% endif %}
</li>