<!DOCTYPE html>
{% spaceless %}
<html lang="{{ lang_tag }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#AA78B9">
    <title>{{ title }}</title>
    <link rel="canonical" href="{{ full_url }}">
    {% include './prerendered/base_head.html' %}
    {% include './components/banner_style.html' %}
    {% if head_inject %}{{ head_inject|safe }}{% endif %}
</head>
<body>
    <div id="app">
        {% include './components/header/header.html' %}
        {% block content %}{% endblock %}
        {% include './components/footer.html' %}
    </div>
    {% include './prerendered/base_body.html' %}
</body>
</html>
{% endspaceless %}