<!DOCTYPE html>
{% spaceless %}
<html lang="{{ lang_tag }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="canonical" href="{{ full_url }}">
    <link rel="manifest" href="/{{ language }}/manifest.json?{{ build_version }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon-{{ language }}-180.png?{{ build_version }}">
    <meta name="theme-color" content="#AA78B9"/>
    <link href="/style.css?{{ build_version }}" rel="stylesheet">
    <noscript>
        <link href="/noscript.css?{{ build_version }}" rel="stylesheet">
    </noscript>
    {% include './components/banner_style.html' %}
</head>
<body>
    <div id="app">
        {% include './components/header/header.html' %}
        {% block content %}{% endblock %}
        {% include './components/footer.html' %}
    </div>
    <script src="/script.js?{{ build_version }}"></script>
</body>
</html>
{% endspaceless %}