<!DOCTYPE html>
{% spaceless %}
{% load i18n %}
<html lang="{{ lang_tag }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | {% translate '聖道福音網' %} Logos Gospel Web</title>
    <link href="/error.css" rel="stylesheet">
</head>
<body>
    <div class="error">
        <div class="error__block">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
{% endspaceless %}