<!DOCTYPE html>
{% spaceless %}
{% load i18n %}
<html lang="{{ lang_tag }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | {% translate '聖道福音網' %} Logos Gospel Web</title>
    <link href="/error.css" rel="stylesheet">
    {% if head_inject %}{{ head_inject|safe }}{% endif %}
</head>
<body>
    <div class="error">
        <div class="error__block">
            {% block content %}{% endblock %}
            <a class="error__back" href="{% url 'home' language %}">← {% translate '返回主頁' %}</a>
        </div>
    </div>
</body>
</html>
{% endspaceless %}