.git/
.github/
.vscode/
**/dist/
.dockerignore
.editorconfig
.gitignore
.nvmrc
*.md
*.log
**/.env
**/.env.*
infrastructure/
misc/
package*.json
eslint.config.mjs
LICENSE.md

**/*.test.js
**/*.test.ts
**/__pycache__/
venv/
*.mo
*.sqlite3
**/node_modules/
.DS_Store
.Trash-*
Thumbs.db
$RECYCLE.BIN/
*.log
