**/Dockerfile
.git/
.vscode/
.dockerignore
.editorconfig
.gitignore
.nvmrc
*.md
*.log
**/.env
**/.env.*
deployment
infrastructure/*/docker-compose.yml
infrastructure/*/Dockerfile
infrastructure/*/main.ps1
infrastructure/*/main.sh

**/*.test.js
**/*.test.ts
**/__pycache__/
venv/
uploads/
static/
*.mo
*.sqlite3
node_modules/
.DS_Store
.Trash-*
Thumbs.db
$RECYCLE.BIN/
*.log
