asgiref==3.7.2
beautifulsoup4==4.12.2
cssutils==2.7.1
Django==4.2.5
django-cleanup==8.0.0
django-grappelli==3.0.8
django-pipeline==2.1.0
django-ratelimit==4.1.0
fonttools==4.43.0
lxml==4.9.3
Pillow==10.0.1
soupsieve==2.5
sqlparse==0.4.4
tzdata==2023.3
ulid-py==1.1.0
