{% extends '../base.html' %}

{% load i18n %}
{% load localize %}
{% load message %}
{% load page_link %}

{% block content %}
{% with audio_player=message.audio|file audio=message.audio|file_dl document=message.document|file_dl %}
{% if message.banner|localize != None %}
    <div class="page-banner">
        {% include '../components/banner.html' with banner=message.banner|localize %}
    </div>
{% endif %}
<main class="main sidebar-container">
    <div class="body">
        {% include '../components/message/breadcrumb.html' %}
        {% if message.banner|localize == None %}
            <h1 class="title">{% localize message.title %}</h1>
        {% endif %}
        <div class="author">{{ author }}</div>
        {% if audio_player %}
            <audio class="audio__player" controls>
                <source src="{{ audio_player }}" type="audio/mpeg">
            </audio>
        {% endif %}
        <div class="attachments">
            {% if audio %}
                <a class="attachment attachment--audio" href="{{ audio }}" download>{% translate '下載錄音' %}</a>
            {% endif %}
            {% if document %}
                <a class="attachment attachment--document" href="{{ document }}" download>{% translate '下載文字檔' %}</a>
            {% endif %}
        </div>
        <article class="richtext">{{ message.content|localize|safe }}</article>
        <div class="message__ended">{% translate '完' %}</div>
        <div class="message__footer">{% blocktranslate with year=message.publish|date:'Y' %}© {{ year }} LOGOS福音網。版權所有。{% endblocktranslate %}</div>
        <div class="message__footer">{% translate '歡迎轉載，但須註明出處及鏈接 (URL) 並保持信息完整。' %}</div>
        <div class="message__footer">{% translate '鏈接：' %}<a href="{{ path }}{{ url_suffix }}" class="link">{{ full_url }}</a></div>
    </div>
    {% include '../components/sidebar.html' %}
</main>
{% endwith %}
{% endblock content %}
