{% extends '../base.html' %}

{% load i18n %}
{% load localize %}
{% load search %}
{% load page_link %}

{% block content %}
<main class="main">
    <div class="body">
        {% include '../components/search_form.html' %}
        <div class="search__count">{% blocktranslate %}共{{ total }}項結果，現正顯示第{{ start_index }}至{{ end_index }}項{% endblocktranslate %}</div>
        {% for child in messages %}
            <a class="search__item" href="{{ child|page_link }}">
                <div class="search__topic">{% localize child.parent.title %}</div>
                {{ child|search_title:keyword|safe }}
                <div class="search__content richtext">{{ child|search_result:keyword|safe }}</div>
            </a>
        {% endfor %}
        {% if pagination %}
            <div class="search__pagination">
                {% for item in pagination %}
                    {% if item.current %}
                        <div class="search__pagination__current">{{ item.text }}</div>
                    {% elif item.page %}
                        <a class="search__pagination__item" href="{{ item.page }}">{{ item.text }}</a>
                    {% else %}
                        <div class="search__pagination__text">{{ item.text }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</main>
{% endblock content %}
