{% extends '../base.html' %}

{% load i18n %}
{% load localize %}
{% load message %}
{% load page_link %}

{% block content %}
{% with description=topic.description|localize end_msg=topic.end_msg|localize %}
{% if topic.banner|localize != None %}
    <div class="page-banner">
        {% include '../components/banner.html' with banner=topic.banner|localize %}
    </div>
{% endif %}
<main class="main">
    <div class="body">
        {% if topic.banner|localize == None %}
            <h1 class="title">{% localize topic.title %}</h1>
        {% endif %}
        <div class="author">{% localize topic.author %}</div>
        {% if description %}
            <article class="richtext">{{ description|safe }}</article>
        {% endif %}
        <table class="topic">
            <thead>
                <tr>
                    {% if has_audio %}
                        <td>{% translate '網上閱讀/收聽' %}</td>
                    {% else %}
                        <td>{% translate '網上閱讀' %}</td>
                    {% endif %}
                    {% if author_label %}
                        <td>{{ author_label }}</td>
                    {% endif %}
                    {% if has_audio %}
                        <td>{% translate '錄音下載' %}</td>
                    {% endif %}
                    <td>{% translate '文字檔下載' %}</td>
                </tr>
            </thead>
            <tbody>
                {% for child in topic_children %}
                    {% include '../components/topic_item.html' with page=child title=child|full_title:language url=child|page_link:topic.slug is_new=child|is_new:now audio=child.audio|file_dl document=child.document|file_dl %}
                {% endfor %}
            </tbody>
        </table>
        {% if end_msg %}
            <section class="richtext">{{ end_msg|safe }}</section>
        {% endif %}
    </div>
</main>
{% endwith %}
{% endblock content %}
