{$WEB_HOST} {
    root * /
    header -Server
    handle /favicon.ico {
        header ?Cache-Control "max-age=3600"
        file_server {
            root /public
        }
    }
    handle /robots.txt {
        header ?Cache-Control "max-age=3600"
        file_server {
            root /public
        }
    }
    handle /static/* {
        header ?Cache-Control "max-age=3600"
        file_server
    }
    handle /uploads/* {
        header ?Cache-Control "max-age=3600"
        file_server
    }
    handle {
        reverse_proxy {$MAIN_URL}
    }
}

{$WEB_DOMAIN} {
    redir {$WEB_URL}{$uri}
}
