services:
    migrations:
        build:
            dockerfile: ./infrastructure/production/Dockerfile
            target: migrations
            context: ../..
        volumes:
            - /opt/lgweb/db/:/db/
            - /opt/lgweb/reports/:/reports/
    main: &depends_on
        depends_on:
            migrations:
                condition: service_completed_successfully
    admin: *depends_on
    cron: *depends_on
