services:
    server:
        restart: unless-stopped
        ports:
            - '80:80'
            - '443:443'
            - '443:443/udp'
        build: &build
            dockerfile: ./infrastructure/production/Dockerfile
            target: server
            context: ../..
        env_file:
            - .env.server
        environment:
            - MAIN_URL=main:8000
            - ADMIN_URL=admin:8000
        volumes:
            - /opt/lgweb/caddy_data/:/data/
    main: &main
        restart: unless-stopped
        env_file:
            - .env
        environment:
            - FORCE_HTTPS=1
            - INTERNAL_HOSTS=main
        build:
            <<: *build
            target: main
        volumes:
            - /opt/lgweb/db/:/db/
            - /opt/lgweb/reports/:/reports/
    admin:
        <<: *main
        deploy:
            resources:
                limits:
                    cpus: '0.5'
    cron:
        <<: *main
        build:
            <<: *build
            target: cron
        deploy:
            resources:
                limits:
                    cpus: '0.5'
