$contentName: 'lgweb-richtext-content';

@use "./reset" with ( $name: $contentName );
@use "../styles/components/richtext" with ( $name: $contentName );
@use "./components/tiptap-ui-primitive/dropdown-menu/dropdown-menu";

div.#{$contentName} {
    font-family: Verdana, Arial, Helvetica, Microsoft JhengHei, Segoe UI Semibold, Segoe UI, Lucida Grande, sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: #000;
    background-color: #f5fafd;
    padding: 12px;
    height: 400px;
    overflow-y: scroll;
    resize: vertical;
    border: 1px solid #999;
    white-space: pre-wrap;
    outline: none;

    hr {
        display: block;
    }
}

.lgweb-richtext-toolbar {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    gap: 4px;

    svg {
        display: block;
        font-size: 24px;
        cursor: pointer;
        border-radius: 2px;
        &:hover {
            background-color: #eee;
        }
    }

    hr {
        margin: 0 2px;
        width: 1px;
        height: auto;
        border: none;
        background-color: #ccc;
    }
}

.lgweb-color-picker.lgweb-color-picker.lgweb-color-picker {
    all: revert;
    box-sizing: border-box;
    display: block;
    position: relative;

    input {
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

div[role=menuitem],
.lgweb-richtext-button {
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 4px;
    border-radius: 2px;
    text-align: center;
    &:hover {
        background-color: #eee;
    }
}


img.ProseMirror-separator {
    display: inline !important;
    border: none !important;
    margin: 0 !important;
    width: 0 !important;
    height: 0 !important;
}

.ProseMirror-gapcursor {
    display: none;
    pointer-events: none;
    position: absolute;
    margin: 0;
}

.ProseMirror-gapcursor:after {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    width: 20px;
    border-top: 1px solid black;
    animation: ProseMirror-cursor-blink 1.1s steps(2, start) infinite;
}

@keyframes ProseMirror-cursor-blink {
    to {
        visibility: hidden;
    }
}

.ProseMirror-hideselection *::selection {
    background: transparent;
}

.ProseMirror-hideselection *::-moz-selection {
    background: transparent;
}

.ProseMirror-hideselection * {
    caret-color: transparent;
}

.ProseMirror-focused .ProseMirror-gapcursor {
    display: block;
}
