* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Verdana, Arial, Helvetica, "Microsoft JhengHei", "Segoe UI Semibold", "Segoe UI", "Lucida Grande", sans-serif
}

button,
input,
textarea {
    font: inherit;
}

table {
    border-collapse: collapse;
}
