{$WEB_HOST} {
    root * /
    header -Server
    header -Via
    @GET method GET
    @NOT_GET not method GET
    header @GET Cache-Control {$CACHE_CONTROL} {
        match {
            status 2xx
            header !Cache-Control
        }
    }
    header @NOT_GET -Cache-Control
    header -Cache-Control {
        match status 4xx 5xx
    }
    header -Content-Type {
        match status 204
    }
    header -Content-Length {
        match status 204
    }
    route {
        error /private/* "Unauthorized" 403
        file_server {
            root /public
            pass_thru
        }
        file_server {
            root /compiled
            pass_thru
        }
        file_server /static/* {
            pass_thru
        }
        reverse_proxy /statistics {$ADMIN_URL}
        reverse_proxy /admin/* {$ADMIN_URL}
        reverse_proxy {$MAIN_URL}
    }
}

{$WEB_DOMAIN} {
    header -Server
    header -Via
    redir {$WEB_URL}{uri}
}
