@use "../icons";
@use "../link";

.toolbar {
    position: fixed;
    bottom: 4px;
    width: 36px;
    height: 36px;
    text-align: center;
    font-size: 16px;
    line-height: 36px;
    border-radius: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, .8);
    cursor: pointer;

    .fullscreen & {
        position: absolute;
    }
}

.toolbar--language {
    left: 4px;
    @extend .link--hidden;
}

.toolbar--fontsize {
    left: 44px;
    @include icons.icon-font-size;
}

.toolbar--search {
    left: 84px;
    @include icons.icon-search;
}

.toolbar--qrcode {
    right: 84px;
    @include icons.icon-qrcode;
}

.toolbar--share {
    right: 44px;
    @include icons.icon-share;
}

.toolbar--fullscreen {
    right: 4px;
    @include icons.icon-enlarge;
    .fullscreen & {
        position: fixed;
        @include icons.icon-shrink;
    }
}

.fontsize {
    color: #fff;
    text-align: center;
    position: fixed;
    border: 1px solid #999;
    width: 194px;
    height: 62px;
    bottom: 48px;
    left: 20px;
    background-color: #000;
    border-radius: 4px;
    user-select: none;
}

.fontsize--hidden {
    display: none;
}

.fontsize__title {
    font-size: 18px;
    line-height: 32px;
}

.fontsize__editor {
    font-size: 18px;
    line-height: 1;
}

.fontsize__slider {
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px;

    .slider {
        width: 120px;
        height: 10px;
        background-color: #a9acb1;
        border-radius: 15px;
    }

    .slider__thumb {
        width: 20px;
        height: 20px;
        right: -10px;
        top: -5px;
        background-color: #fff;
        border-radius: 100%;
    }
}

.fontsize__button {
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
}

.fontsize__button--plus {
    @include icons.icon-plus;
}

.fontsize__button--minus {
    @include icons.icon-minus;
}

.qrcode {
    z-index: 10;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 100vh;
    text-align: center;
    background-color: rgba(0, 0, 0, .9);
}

.qrcode--hidden {
    display: none;
}

.qrcode__container {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 2px;
    background-color: white;
    position: relative;

    canvas {
        width: 100%;
        height: 100%;
        display: block;
    }
}

.qrcode__close {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 32px;
    height: 32px;

    background-color: #666;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    cursor: pointer;

    @include icons.icon-close;

    &:hover {
        background-color: #999;
    }
}

.search-bar {
    z-index: 10;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 100vh;
    text-align: center;
    background-color: rgba(0, 0, 0, .9);
    padding: 0 12px;
}

.search-bar--hidden {
    display: none;
}

.search-bar__container {
    margin: 100px auto 0;
    height: 40px;
    max-width: 600px;
}

.search-bar__close {
    @extend .qrcode__close;

    top: 20px;
    right: 12px;
}
