volumes:
    virtualenv: {}
    compiled: {}
    db: {}
    nodemodules: {}
    caddy_data: {}
services:
    server:
        ports:
            - '8000:8000'
            - '8001:8001'
        image: caddy:2.11-alpine
        environment:
            - MAIN_URL=main:8000
            - ADMIN_URL=main:8000
            - WEB_DOMAIN=:8001
            - WEB_HOST=:8000
            - WEB_URL=http://localhost:8000
            - CACHE_CONTROL=max-age=60
        volumes:
            - ../../server/Caddyfile:/etc/caddy/Caddyfile
            - ../../public:/public
            - compiled:/compiled/
            - caddy_data:/data/
    main: &main
        build:
            dockerfile: ./infrastructure/development/Dockerfile
            context: ../..
        env_file:
            - .env
        environment:
            - MODE=development
            - ALLOWED_HOSTS=*
            - STATIC_ROOT=/static
            - LOCALE_PATH=/locales
            - DB_ROOT=/db/db.sqlite3
            - CONTACT_DB_ROOT=/db/contact.sqlite3
            - ANALYTICS_DB_ROOT=/db/analytics.sqlite3
            - ANALYTICS_TEMP_DB_ROOT=/db/analytics_temp.sqlite3
        volumes:
            - ../../:/lgweb/
            - virtualenv:/venv/
            - db:/db/
        entrypoint:
            - /bin/sh
            - -c
            - >-
                python -m venv /venv &&
                source /venv/bin/activate &&
                pip install wheel &&
                pip install -r requirements.txt &&
                rm -rf /locales &&
                cp -R ./locales /locales &&
                python manage.py migrate &&
                python manage.py migrate --database contact &&
                python manage.py migrate --database analytics &&
                python manage.py migrate --database analytics_temp &&
                python manage.py compilemessages &&
                python manage.py runserver 0.0.0.0:8000
    compiler:
        <<: *main
        volumes:
            - ../../:/lgweb/
            - compiled:/compiled/
            - nodemodules:/lgweb/assets/node_modules/
        entrypoint:
            - /bin/sh
            - -c
            - >-
                cd /lgweb/assets &&
                npm i --omit=dev &&
                npx rspack --mode=development --watch --env output=/compiled
