$name: 'lgweb-richtext-editor';

@use "./components/richtext" with ( $name: $name );

.#{$name} {
    font-family: Verdana, Arial, Helvetica, Microsoft JhengHei, Segoe UI Semibold, Segoe UI, Lucida Grande, sans-serif;
    line-height: 1.5;
}
