{$WEB_HOST} {
    root * /
    header -Server
    header ?Cache-Control {$CACHE_CONTROL}
    route {
        file_server {
            root /public
            pass_thru
        }
        file_server {
            root /compiled
            pass_thru
        }
        file_server /static/* {
            pass_thru
        }
        reverse_proxy /statistics {$ADMIN_URL}
        reverse_proxy /admin/* {$ADMIN_URL}
        reverse_proxy {$MAIN_URL}
    }
}

{$WEB_DOMAIN} {
    header -Server
    redir {$WEB_URL}{$uri}
}
