{% load i18n %}
{% load localize %}
{% load page_link %}
{% if topic.banner|localize != None %}
    <div class="page-banner">
        {% include '../components/banner.html' with banner=topic.banner|localize %}
    </div>
{% endif %}
<main class="main sidebar-container">
    <div class="body">
        {% if topic.banner|localize == None %}
            <h1 class="title">{% localize topic.title %}</h1>
        {% endif %}
        <div class="blog-sidebar__content">
            {% include '../components/sidebar_content.html' %}
        </div>
        {% for child in topic.children.all reversed  %}
            {% include '../components/blog_item.html' with page=child slug=topic.slug %}
        {% endfor %}
    </div>
    {% include '../components/sidebar.html' %}
</main>