{% load banner %}
{% with srcset=banner|srcset %}
<div class="banner">
    <picture class="banner__picture">
        {% for item in srcset %}
            <source media="{{ item.media }}" srcset="{{ item.srcset }}" />
        {% endfor %}
        <img class="banner__image" src="{{ banner.image.url }}" />
    </picture>
    {% if link %}
        <a href="{{ link }}" draggable="false" title="{{ banner.title }}" class="banner__inner link--hidden">
            {% include "./banner_content.html" %}
        </a>
    {% else %}
        <div class="banner__inner">
            {% include "./banner_content.html" %}
        </div>
    {% endif %}
</div>
{% endwith %}