{% load banner %}
<div class="banner__table">
    {% if banner.offset_y > 0 %}<div class="banner__row" style="height:{{ banner.offset_y }}%"></div>{% endif %}
    <div class="banner__row">
        {% if banner.offset_x > 0 %}<div class="banner__cell" style="width:{{ banner.offset_x }}%"></div>{% endif %}
        <div class="banner__cell" style="font-size:{{ banner.font_size }}px">
            <span class="banner__text" style="{{ banner|banner_text_style }}">{{ banner.title }}</span>
        </div>
        {% if banner.offset_x < 0 %}<div class="banner__cell" style="width:{{ banner.offset_x|absolute }}%"></div>{% endif %}
    </div>
    {% if banner.offset_y < 0 %}<div class="banner__row" style="height:{{ banner.offset_y|absolute }}%"></div>{% endif %}
</div>