{% load banner %}
<div class="banner">
    <div class="banner__inner">
        <div class="banner__table" style="background-image:url('{{ banner.image.url }}')">
            <div class="banner__row"{% if banner.offset_y > 0 %} style="height:{{ banner.offset_y }}%"{% endif %}></div>
            <div class="banner__row">
                <div class="banner__cell"{% if banner.offset_x > 0 %} style="width:{{ banner.offset_x }}%"{% endif %}></div>
                <div class="banner__cell">
                    {% if link %}
                        <a class="link--hidden" href="{{ link }}" style="font-size:{{ banner.font_size }}px">
                            <span class="banner__text" style="{{ banner|banner_text_style }}">{{ banner.title }}</span>
                        </a>
                    {% else %}
                        <span style="font-size:{{ banner.font_size }}px">
                            <span class="banner__text" style="{{ banner|banner_text_style }}">{{ banner.title }}</span>
                        </span>
                    {% endif %}
                </div>
                <div class="banner__cell"{% if banner.offset_x < 0 %} style="width:{{ banner.offset_x|absolute }}%"{% endif %}></div>
            </div>
            <div class="banner__row"{% if banner.offset_y < 0 %} style="height:{{ banner.offset_y|absolute }}%"{% endif %}></div>
        </div>
    </div>
</div>